<p id="notice"><%= notice %></p>

<h1>Issues</h1>

<p>Filter by: &nbsp <%= link_to 'All', issues_path %> &nbsp <%= link_to 'Unresolved', issues_path(:status => ['new','open']) %> &nbsp <%= link_to 'My Issues', issues_path(:assignee_id => [ current_user.id ]) %>  &nbsp Watching </p>

<% if $t != "" %>
  <p> Type: <%= $t %> </p>
<% end %>

<% if $pi != "" %>
  <p> Priority: <%= $pi %> </p>
<% end %>

<% if $s != "" and $s.length != 2 %>
  <p> Status: <%= $s %> </p>
<% end %>

<% if $s != "" and $s.length == 2 %>
  <p> Status: <%= $s[0] %>, <%= $s[1] %> </p>
<% end %>

<% if $a != "" %>
  <p> Assignee: <%= User.all.find($a).name %> </p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Priority</th>
      <th>Status</th>
      <th>Votes</th>
      <th>Assignee</th>
      <th>Created</th>
      <th>Updated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= issue.title %></td>
        <td><%= link_to issue.type_issue, issues_path(:type_issue => [issue.type_issue], :priority => [$pi], :status => [$s], :assignee_id => [$a]) %></td>
        <td><%= link_to issue.priority, issues_path(:type_issue => [$t], :priority => [issue.priority], :status => [$s], :assignee_id => [$a]) %></td>
        <td><%= link_to issue.status, issues_path(:type_issue => [$t], :priority => [$pi], :status => [issue.status], :assignee_id => [$a]) %></td>
        <td><%= issue.votes %></td>
        <% if issue.assignee_id != nil %>
          <td><%= link_to User.all.find(issue.assignee_id).name, issues_path(:type_issue => [$t], :priority => [$pi], :status => [$s], :assignee_id => [issue.assignee_id]) %></td>
        <% else %>
           <td></td>
        <% end %>
        <td><%= issue.created_at.in_time_zone('Madrid').to_formatted_s(:long) %></td>
        <td><%= issue.updated_at.in_time_zone('Madrid').to_formatted_s(:long) %></td>
        <td><%= link_to 'Show', issue %></td>
        <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
        <td><%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Issue', new_issue_path %>
