<p id="notice"><%= notice %></p>

<div id="content">
  <header>
    <h1>
      <span> <%= @issue.title %> </span>
    </h1>
  </header>
  <div>
    <div>
      <span> Issue #<%= @issue.id %> </span>
      <span><%= @issue.status %></span> 
    </div>
    <div class="item">
      <div id="issue_main_content">
        <div class="issue_author">
          <a href="/users/<%= @issue.creator_id %>">
            <%= image_tag( User.all.find(@issue.creator_id).foto, width: 25, height: 25, class: 'img-circle') %>
            <span><%= User.all.find(@issue.creator_id).name %></span>
          </a>
          created an issue
          <time>x days ago</time>
        </div>
        <div class="issue_description">
          <p><%= @issue.description %></p>
        </div>
        <div class="attachments"></div>
      </div>
      <div id="issue_comments_container">
        <h2>Comments(<%= @issue.comments.length %>)</h2>
        <% @issue.comments.each do |comment| %>
          <div class="comment">
            <div class="comment_author">
              <a href="/users/<%= comment.reporter_id %>">
                <%= image_tag( User.all.find(comment.reporter_id).foto, width: 25, height: 25, class: 'img-circle') %>
                <span><%= User.all.find(comment.reporter_id).name %></span>  
              </a>
            </div>
            <p><%= comment.text %></p>
            <div class="comment_toolbar">
              <p>
                <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
                <%= link_to 'Edit', edit_comment_path(comment) %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
      <div>
        <%= form_for :comment, url: "/comments", method: "post" do |f| %>
          <%= f.text_area :text, id: :comment_text %>
          <%= f.hidden_field :issue_id, id: :comment_issue_id, value: @issue.id %>
          <%= f.hidden_field :reporter_id, id: :comment_reporter_id, value: current_user.id %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
    <div class="sidebar">
      <div class="issue_toolbar">
        <%= form_with(model: @issue, local: true) do |form| %>
          <%= form.label :status %>
          <%= form.select :status, ['new', 'open','on hold','resolved','duplicate','invalid','wontfix','closed']%>
          <%= form.submit %>
        <% end %>
      </div>
      <div class="sidebar_info">
        <p>
        <strong>Assignee:</strong>
          <% if @issue.assignee_id != nil %>
            <%= User.all.find(@issue.assignee_id).name %>
          <% else %>
            <%= "-" %>
          <% end %>
        </p>
        <p>
          <strong>Type:</strong>
          <%= @issue.type_issue %>
        </p>
        <p>
          <strong>Priority:</strong>
          <%= @issue.priority %>
        </p>
        <p>
          <strong>Status:</strong>
          <%= @issue.status %>
        </p>
        <p>
          <strong>Votes:</strong>
          <%= @issue.votes %>
        </p>  
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
