<p id="notice"><%= notice %></p>

<div id="content">
  <div class="sidebar">
      <div class="issue_toolbar">
        <%= form_with(model: @issue, local: true) do |form| %>
          <%= form.select :status, ['new', 'open','on hold','resolved','duplicate','invalid','wontfix','closed'], {}, { value: @issue.status, class: 'form-control', onchange: 'this.form.submit();' } %>
        <% end %>
      </div>
      <div class="sidebar_info">
        <p>
        <strong>Assignee:</strong>
          <% if @issue.assignee_id != nil %>
            <%= User.all.find(@issue.assignee_id).name %>
          <% else %>
            <%= "-" %>
          <% end %>
        </p>
        <p>
          <strong>Type:</strong>
          <%= @issue.type_issue %>
        </p>
        <p>
          <strong>Priority:</strong>
          <%= @issue.priority %>
        </p>
        <p>
          <strong>Status:</strong>
          <%= @issue.status %>
        </p>
        <p>
          <strong>Votes:</strong>
          <%= @issue.votos.size %>
          <% if Voto.where(:user_id => current_user.id, :issue_id => params[:id]).take == nil %>
          <span><%= link_to 'Vote for this issue', vote_url(id: @issue.id),  method: :vote  %></span>
          <% else %>
           <span><%= link_to 'Remove vote', unvote_url(id: @issue.id),  method: :unvote  %></span>
          <% end %>
        </p>
        <p>
          <strong>Watchers:</strong>
          <%= @issue.watchers.size %>
          <% 
          begin
          @issue.watchers.find(current_user.id)
          rescue ActiveRecord::RecordNotFound => msg
          end
          if msg != nil %>
          <span><%= link_to 'Watch this issue', watch_url(id: @issue.id),  method: :watch  %></span>
          <% else %>
           <span><%= link_to 'Stop watching', unwatch_url(id: @issue.id),  method: :unwatch  %></span>
          <% end %>
        </p>
      </div>
      
      <%= link_to '<button class="buttonB" type="button">Edit</button>'.html_safe, edit_issue_path(@issue) %>
      <span>&nbsp &nbsp &nbsp &nbsp</span>
      <%= link_to '<button class="buttonB" type="button">Delete</button>'.html_safe, @issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      
  </div>
  <header>
    <h1>
      <span> <%= @issue.title %> </span>
    </h1>
  </header>
  <div>
    <div>
      <span> Issue #<%= @issue.id %> </span>
      <span><%= @issue.status %></span> 
      <br>
    </div>
    <div class="item">
      <div id="issue_main_content">
        <div class="issue_author">
          <a href="/users/<%= @issue.creator_id %>">
            <%= image_tag( User.all.find(@issue.creator_id).foto, width: 25, height: 25, class: 'img-circle') %>
            <span><%= User.all.find(@issue.creator_id).name %></span>
          </a>
          created an issue
          <time>x days ago</time>
        </div>
        <div class="issue_description">
          <p><%= @issue.description %></p>
        </div>
        <div class="attachments">
          <% @issue.attachments.each do |attachment| %>
            <!--img src="https://cdn2.iconfinder.com/data/icons/attachment/154/attach-clip-round-function-ui-512.png" alt="Smiley face" height="42" width="42"-->
            <span class="borde">
              <%= link_to attachment.file_file_name, attachment.file.url, target: '_blank', class: "attachmentLink" %>
              <%= link_to 'X', attachment, method: :delete, data: { confirm: 'Are you sure?' }, class: "deleteSymbol" %>
            </span>
          <% end %>
        </div>
      </div>
      <div id="issue_comments_container">
        <h2>Comments(<%= @issue.comments.length %>)</h2>
        <% @issue.comments.each do |comment| %>
          <div class="comment">
            <div class="comment_author">
              <a href="/users/<%= comment.reporter_id %>">
                <%= image_tag( User.all.find(comment.reporter_id).foto, width: 25, height: 25, class: 'img-circle') %>
                <span><%= User.all.find(comment.reporter_id).name %></span>  
              </a>
            </div>
            <p><%= raw(comment.text) %></p>
            <div>
              <p class="comment_toolbar">
                <% if current_user.id == comment.reporter_id %>
                  <%= link_to 'Edit', edit_comment_path(comment) %>
                <% end %>
                <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
      <div>
        <%= form_for :comment, url: "/comments", method: "post" do |f| %>
          <%= f.text_area :text, id: :comment_text %>
          <%= f.hidden_field :issue_id, id: :comment_issue_id, value: @issue.id %>
          <%= f.hidden_field :reporter_id, id: :comment_reporter_id, value: current_user.id %>
          <%= f.submit %>
        <% end %>
      </div>
      <br>
      <div class="add_attachments">
        <h2>Add attachments</h2>
        <%= form_for :attachment, url: "/attachments", method: "post" do |f| %>
          <%= f.file_field :file %>
          <%= f.hidden_field :issue_id, id: :attachment_issue_id, value: @issue.id %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br><br>
<%= link_to '<button class="buttonB" type="button">Back</button>'.html_safe, issues_path %>
