<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @issue.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @issue.type_issue %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @issue.priority %>
</p>

<p>
  <strong>Status:</strong>
  <%= @issue.status %>
</p>

<p>
  <strong>Votes:</strong>
  <%= @issue.votes %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @issue.creator_id %>
</p>

<p>
  <strong>Assignee:</strong>
  <% if @issue.assignee_id != nil %>
    <%= User.all.find(@issue.assignee_id).name %>
  <% else %>
    <%= "---" %>
  <% end %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
